.main {
    background-color: #ffe3e2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: minmax(100, auto);
    grid-gap: 60px;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-number {
    margin: 0 16px;
}

